body{
  background-image: url(./img/image_04.jpg);
  width:100vw;
  height: 100vh;
  position:sticky;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  flex-direction: column;
  padding:0px;
  margin:0px;
  overflow-x: hidden;
}

.Recipe-summary a{
  color: #0e4677e3;
  text-decoration: none;
  font-weight: 600;
}

::selection {
  color: #5e081be0;
  background-color: #f2f4f5;

} 
/*
 .t{
  color: #ddbc95;  Marroncito claro 
  color:#d4ac7d;   marroncito oscuro: 
  color: #5e081be0; Violeta del "Ingresar" 
  color: #3f3c32; Arandano Oscuro - "Recetilas" 
  color: #514d40;  Arándano claro Sombra Paginado "Recetillas" 
  color: #f2f4f5; Blanquito del fondo: 
  color: #6e1e2a;  Color bordó bordes /recipe 

  |LETRAS
  'Lato' Texto común, busquedas y opciones
  
 

}

*/